<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
       <link rel="stylesheet" href="../gabbleGaggle.css">
      <title>GABBLE: The Gaggle</title>
   </head>
   <body>
      <div class="bodyWrap">
         <nav>
            <a href="/userHome/">CREATE NEW GAB</a>
            <a href="/your-gabs/">YOUR GABS</a>
            <a href="/likedBy">LIKES</a>
            <a href="/gab-bye">LOGOUT</a>
         </nav>
         <h1>The Gabble Gaggle</h1>
         <h3>What's the gab?</h3>
         <div id="allGabs">
            {{#posts}}
            <div class="gabCard">
               <ul class="gabContent">
                  <li class="gabTitle">{{title}}</li>
                  <li class="gabBody">{{body}}</li>
                  <br>
                  <li class="gabber">Posted by: {{gabber.username}}</li>
                  <li class="date">{{createdAt}}</li>
                  <!-- <li> like count. need to add</li> -->
               </ul>

               <!-- <form class="deletePostForm" method="POST" action= "/delete">
                  <button type="submit" class="deletePost" name="likeButton" value="{{id}}">LIKE</button>
               </form> -->

               <form class="likeForm" method="POST" action= "/like">
                  <button type="submit" class="likeButtons" name="likeButton" value="{{id}}">LIKE</button>
               </form>
            </div>
            {{/posts}}
         </div>


         <form id="logoutForm" method="POST" action="/logout">
            <input type="submit" value="logout">
         </form>

      </div>
   </body>
</html>
