<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
       <link rel="stylesheet" href="../gabbleGaggle.css">
      <title>GABBLE: The Gaggle</title>
   </head>
   <body>
      <div class="bodyWrap">
         <nav>
            <a href="/userHome/">CREATE NEW GAB</a>
            <a href="/your-gabs/">YOUR GABS</a>
            <a href="/gab-bye">LOGOUT</a>
            <!-- extra:
               your likes/ posts you've liked? -->
         </nav>
         <h1>The Gabble Gaggle</h1>
         <h3>What's the gab?</h3>
         <div id="allGabs">
            {{#posts}}
            <div class="gabCard">
               <ul class="gabContent">
                  <!-- <li class="postId" >{{id}}</li>  -->
                  <li class="gabTitle">{{title}}</li>
                  <li class="gabBody">{{body}}</li>
                  <li class="date">{{createdAt}}</li>
                  <li class="gabber">{{gabberId}}</li>
                  <!-- <li class="gabber">{{author}}</li> -->
                  <!-- <li>{{gabberName}}</li> -->
                  <!-- <li> like count. need to add</li> -->
                  <!--form for like button? somehow add to the count ^  -->
               </ul>
               <form class="likeForm" method="POST" action= "/like">
                  <!-- <button type="submit" class="likeButtons" name= {{id}}> LIKE </button> -->
                  <!-- <input type="submit" value="LIKE" class="likeButtons" name= {{id}} > -->
                  <input type="submit" class="likeButtons" name="likeButton" value="{{id}}"> LIKE </input>
               </form>
            </div>
            {{/posts}}
         </div>


         <form id="logoutForm" method="POST" action="/logout">
            <input type="submit" value="logout">
         </form>

      </div>
   </body>
</html>
