<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../app.css">
      <!-- <link rel="stylesheet" href="../userHome.css"> -->
      <title>GABBLE: Gab About It</title>
   </head>
   <body>
      <div class="body-wrap">
      <nav>
         <a href="/community-gabs/">WHAT'S THE GAB?</a>
         <a href="/home/">HOME</a>
         <a href="/your-gabs/">MY GABS</a>
         <!-- <a href="/likedBy">LIKES</a> -->
         <a href="/gab-bye">GAB-BYE</a>
         <!-- extra:
            your likes/ posts you've liked? -->
      </nav>

         <h1> GAB ABOUT IT </h1>
         <br>
         <form id="postForm" method="POST" action= "/post-gab">
            <input type="text" name="gabTitle" maxlength="20" placeholder= "Title" id= "gabTitle">
            <input type= "textarea" name= "gabBody" maxlength="140" placeholder= "Gab about it..." id= "gabBody">
            <input type= "submit" value="POST" id= "postButton">
         </form>
      </div>
   </body>
</html>
