<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>GABBLE</title>
   </head>
   <body>
   <h1>try it out!</h1>
   <ul>
      {{#users}}
         <li>{{name}}</li>
      {{/users}}
   </ul>
   </body>
</html>
