
html {
   width: 100vw;
   height: 100%;
   font-family: sans-serif;
}

.body-wrap {
  width: 100vw;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Background pattern from Subtle Patterns*/
  background-image: url('./imgs/background.png');
}

nav {
   width: 100vw;
   height: 6vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   border: solid black 1px;
}

a {
   font-size: 2vw;
   color: black;
   padding: 1vw;
   text-decoration: none;
}

/*HOME/LOGIN PAGE------------------------------------------*/
#titleDiv {
   width: 100vw;
   height: 30vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5vw;
}

#gabble {
   font-size: 15vw;
   padding: 0;
   line-height: 90%;
}

#gabSubtitle {
   font-size: 5vw;
   font-weight: lighter;
   color: darkgrey;
   /*border: solid black 1px;*/
}

#loginDiv {
   width: 65vw;
   height: 45vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: solid black 1.5px;
   border-radius: 4px;
}

.form-title {
   text-align: center;
   font-size: 3vw;
   padding-top: 3vw;
   width: 60vw;
   border-top: solid black 1.5px;
}

#loginForm {
   width: 60vw;
   height: 75%;
   display: flex;
   flex-flow: wrap column;
   justify-content: space-around;
   align-items: center;
}

label {
   width: 75%;
   font-size: 1.75vw;
   font-weight: bolder;
}

#username, #password, #imback {
   width: 75%;
   height: 5vw;
   text-align: center;
   font-size: 1.75vw;
   border-radius: 3px;
   border: solid black 1px;
}

#imback {
   margin-top: 3vw;
   font-weight: bolder;
}

#signUpDiv {
   width: 65vw;
   height: 15vw;
   display: flex;
   flex-flow: wrap column;
   justify-content: center;
   align-items: center;
}

#toSignUp {
   width: 60vw;
   text-align: center;
}

#imnew {
   width: 75%;
   height: 5vw;
   text-align: center;
   font-size: 1.75vw;
   border-radius: 3px;
   border: solid black 1px;
   margin-top: 2vw;
   font-weight: bolder;
}
/*SIGN UP PAGE---------------------------------------------*/
#signupTitle {
  margin-top: 5vw;
  font-size: 10vw;
}

#signupSubtitle {
  font-size: 5vw;
  font-weight: lighter;
}

#signupFormContent {
  width: 65vw;
  height: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1.5px;
  border-radius: 4px;
}

#signUpForm {
  width: 60vw;
  height: 80%;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  align-items: center;
}

#username, #password1, #password2, #signUp {
  width: 75%;
  height: 5vw;
  text-align: center;
  font-size: 1.75vw;
  border-radius: 3px;
  border: solid black 1px;
}

#signUp {
  margin-top: 3vw;
  font-weight: bolder;
}

label {
  width: 75%;
  font-size: 1.75vw;
  font-weight: bolder;
}


#toLoginForm {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: solid black 1.5px;*/
  /*border-radius: 4px;*/
}

#toLoginButton {
  width: inherit;
  height: 5vw;
  text-align: center;
  font-size: 1.75vw;
  font-weight: bolder;
  border-radius: 3px;
  border: solid black 1px;
}

/*USER HOME PAGE-------------------------------------------*/

h1 {
   margin-top: 5vw;
   font-size: 8vw;
}

h3 {
   margin-top: 3vw;
   font-size: 4vw;
   font-weight: lighter;
}

#postForm {
   width: 65vw;
   height: 65vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: solid black 1.5px;
   border-radius: 4px;
}

#gabTitle {
   width: 75%;
   height: 10%;
   font-size: 3vw;
   font-weight: lighter;
   text-align: center;
   border: solid black 1px;
   border-radius: 3px;
}

#gabBody {
   width: 75%;
   height: 50%;
   margin-top: 1vw;
   font-size: 3vw;
   font-weight: lighter;
   text-align: center;
   border: solid black 1px;
   border-radius: 3px;
}

#postButton {
   width: 75%;
   height: 10%;
   font-size: 3vw;
   margin-top: 5vw;
   border: solid black 1px;
   border-radius: 3px;
}


/*LIKES----------------------------------------------------*/
#fillerDiv {
   width: 100vw;
   height: 30vw;
   border: solid black 1px;
}


/*GAGGLE/COMMUNITY PAGE------------------------------------*/
/*YOUR POSTS-----------------------------------------------*/

.main-titles {
   margin-top: 5vw;
   font-size: 8vw;
}

#communityGabsTitle {
   margin-top: 2vw;
   font-size: 4vw;
   font-weight: lighter;
}

#allGabs {
   width: 70vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2vw;
   border: solid black 1.5px;
   border-radius: 4px;
}

.gab-card {
   width: 60vw;
   height: 12vw;
   padding: 1vw;
   margin: 1vw;
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   align-items: center;
   font-size: 1.5vw;
   border: solid black 1px;
   border-radius: 3px;
}
.gab-content {
   width: 27vw;
   list-style-type: none;
}

.gab-title {
   font-weight: bolder;
}

.date{
   font-size: 1vw;
   font-weight: lighter;
}

#likeForm {
   width: 27vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.like-buttons {
   font-size: 1.25vw;
   padding: 1vw;
   border: solid black 1.5px;
   border-radius: 2.5px;
}



@media (max-width: 575px) {

 }


@media (max-width: 767px) {

 }


@media (max-width: 991px) {

}


@media (max-width: 1199px) {

}
