*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  /*border: solid black 1px;*/
}

html {
   width: 100vw;
   height: 100%;
   font-family: sans-serif;
}

.bodyWrap {
   width: 100vw;
   padding: 2em;
   height: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;

}

#titleDiv {
   width: 100vw;
   height: 30vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5vw;
   /*border: solid black 1px;*/
}

h1 {
   font-size: 15vw;
   padding: 0;
}

h2 {
   font-size: 5vw;
   font-weight: lighter;
   /*border: solid black 1px;*/
}
/*---------------------------------*/

#loginDiv {
   width: 65vw;
   height: 45vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: solid black 1px;
   border-radius: 4px;
}

h4 {
   /*color: lightgrey;*/
   text-align: center;
   font-size: 4vw;
}
#loginForm {
   width: 60vw;
   height: 75%;
   display: flex;
   flex-flow: wrap column;
   justify-content: space-around;
   align-items: center;
   /*border: solid black 1px;*/
}

label {
   width: 75%;
   /*text-align: center;*/
   font-size: 1.75vw;
   font-weight: bolder;
}

#username, #password, #imback {
   width: 75%;
   height: 5vw;
   text-align: center;
   font-size: 1.75vw;
   border-radius: 3px;
   border: solid black 1px;
}

#imback {
   margin-top: 3vw;
   font-weight: bolder;
}
/*------------------------------------*/
#signupDiv {
   width: 65vw;
   height: 15vw;
   display: flex;
   flex-flow: wrap column;
   justify-content: center;
   align-items: center;
   /*border: solid black 1px;
   border-radius: 4px;*/
}

#to-signUp {
   width: 60vw;
   text-align: center;
}

#imnew {
   width: 75%;
   height: 5vw;
   text-align: center;
   font-size: 1.75vw;
   border-radius: 3px;
   border: solid black 1px;
   margin-top: 2vw;
   font-weight: bolder;
}
