
/*general styles--------------------------------------------------------------*/
* {
  /*margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;*/
  background: transparent;
}

html,body {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.body-wrap {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

ul {
  list-style-type: none;
}

.form-group {
  text-align: center;
}

.form-control-lg {
  width: 95%;
}

label {
  display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
  font-size: 85%;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
  font-size: 85%;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
  font-size: 85%;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-size: 85%;
}

/*login/ signup----------------------------------------------- '/' & '/signup'*/
#gabMainTitle {
  font-size: 15vw;
  padding: 0;
  line-height: 90%;
}

#gabSubTitle, #signupSubtitle {
  font-size: 5.5vw;
  font-weight: lighter;
  color: darkgrey;
}

#loginTitle, #signupTitle {
  /*font-size: 5vh;*/
  margin: 10px 0;
}

#loginForm, #signupForm, #postForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  border-radius: 4px;
}

#toSignupDiv, #toLoginDiv {
  width: 80%;
  /*text-align: center;*/
}

/*likes-----------------------------------------------------------------------*/
.button-container {
  display: flex;
  justify-content: space-around;
}


/*@media (max-width: 575px) {

}*/


@media (max-width: 767px) {
  #loginForm, #signupForm {
    width: 98%;
    border: solid black 1px;
  }

  #gabMainTitle {
    font-size: 20vw;
    padding: 0;
    line-height: 90%;
  }

 }


@media (max-width: 991px) {

}


@media (max-width: 1199px) {

}
