* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.body-wrap {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.container-fluid {
  text-align: center;
}

#gabMainTitle {
  font-size: 15vw;
  padding: 0;
  line-height: 90%;
}

#gabSubTitle, #signupSubtitle {
  font-size: 5.5vw;
  font-weight: lighter;
  color: darkgrey;
}

label {
   font-size: 2vh;
   font-weight: bold;
}

input {

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
text-align: center;
}

.form-group {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#loginTitle, #signupTitle {
  font-size: 5vh;
  padding-top: 10px;
}

#loginForm, #signupForm, #postForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  border-radius: 4px;
}

#signUpDiv, #toLoginDiv {
  width: 80%;
}

ul {
  list-style-type: none;
}

/*likes pg. clean this up*/
.button-container {
  display: flex;
  justify-content: space-around;
}


@media (max-width: 575px) {
  .form-control-lg {
    width: 95%;
  }
}


@media (max-width: 767px) {
  #loginForm, #signupForm {
    width: 90%;
    border: solid black 1px;
  }
 }


@media (max-width: 991px) {

}


@media (max-width: 1199px) {

}
