*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
   width: 100vw;
   height: 100%;
   font-family: sans-serif;
}

.bodyWrap {
   width: 100vw;
   padding: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   margin-top: 5vw;
   font-size: 10vw;
}

h2 {
   font-size: 5vw;
   font-weight: lighter;
}

#signUpDiv {
   width: 65vw;
   height: 55vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: solid black 1.5px;
   border-radius: 4px;
}

#signUpForm {
   width: 60vw;
   height: 80%;
   display: flex;
   flex-flow: wrap column;
   justify-content: space-around;
   align-items: center;
}

#username, #password1, #password2, #signUp {
   width: 75%;
   height: 5vw;
   text-align: center;
   font-size: 1.75vw;
   border-radius: 3px;
   border: solid black 1px;
}

#signUp {
   margin-top: 3vw;
   font-weight: bolder;
}

label {
   width: 75%;
   font-size: 1.75vw;
   font-weight: bolder;
}


#b2-login {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: solid black 1.5px;*/
  /*border-radius: 4px;*/
}

#b2 {
  /*width: 75%;*/
  height: 5vw;
  text-align: center;
  font-size: 1.75vw;
  font-weight: bolder;
  border-radius: 3px;
  border: solid black 1px;
}


@media (max-width: 575px) {

 }


@media (max-width: 767px) {

 }


@media (max-width: 991px) {

}



@media (max-width: 1199px) {

}
